<h1 class='page-header'>New Band!</h1>

<form class='form' action="<%= bands_url %>" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <p>
    <label for='band-name'>Name</label>
    <input id='band-name' type="text" name="band[name]" value="<%= @band.name %>">
  </p>

  <input type="submit">
</form>
