<form action="<%= cat_url(@cat) %>" method="POST">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Name
    <input type="text" name="cat[name]" value="<%= @cat.name %>">
  </label>

  <label>Owner
    <input type="text" name="cat[owner_id]" value="<%= @cat.owner_id %>">
  </label>

  <input type="submit">
</form>
